body {
    margin: auto;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0% auto 1% auto;
    background-color: #eee;
    align-items: stretch;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

nav {
    display: flex;
    flex-direction: row;
}

.navbar {
    margin: 1% 2% 1% 2%;
}

#header-img {
    margin: 0 auto 0 2%;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    align-items: flex-start;
    transform: scale(1);
}

#header-img:hover {
    transform: scale(1.05);
}

.nav-element {
    display: flex;
    flex-direction: row;
    margin: 0 2% 0 auto;
    align-items: flex-end;
}

.nav-link button a {
    text-decoration: none;
    color: black;
}

.nav-link button {
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    transform: scale(1);
}

.nav-link button:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    margin: 10% 2% 1% 2%;  
}

.element-section-top {
    margin: 1% 2% 0.5% 2%;
    text-align: center;
    font-size: 18px;
    font-weight: bold; 
}

.element-section-middle {
    margin: 0.5% 2% 0.5% 2%;
    text-align: center;
    font-size: 15px;
}

.element-section-middle input {
    border-radius: 5px;
    font-size: 15px;
    padding: 0% 1% 0% 1%;
    width: 30%;
    border: 1px solid black;
}

.element-section-bottom {
    margin: 0.5% 2% 1% 2%;
    text-align: center;
}

#submit {
    background-color: darkorange;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold; 
    height: 40px;
    width: 100px;
    border: 0px solid;
    cursor: pointer;
    transform: scale(1);
}

#submit:hover {
    background-color: orange;
    transition: background-color 1s;
}

section {
    display: flex;
    flex-direction: column;
    margin: 5% 2% 5% 2%;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}

.features {
    margin: 1% 15% 1% 15%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.icon {
    margin: auto;
    width: 10%;
    text-align: center;
    padding: 0% 1% 0% 1%;
}

.icon i {
    color: darkorange;
    height: 100%;
    width: 100%;
}

.description {
    margin: auto;
    width: 80%;
    text-align: justify;
    padding: 0% 1% 0% 1%;
}

.description h3 {
    margin-bottom: 5px;
}

.description p {
    font-size: 14px;
    line-height: 0.5cm;
    margin-top: 0px;
}

#how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}

#video {
    margin: auto;
    width: 45%;
    border-radius: 5px; 
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0% 10% 0% 10%;
}

.tenor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

.bass {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

.valve {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

.level {
    background-color: #ddd;
    color: black;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

.headline-price {
    margin: auto;
}

.headline-description {
    margin: 5% 0% 5% 0%;
}

.headline-description p {
    margin: auto;
}

.button {
    margin: 5% 0% 5% 0%;
    border: 0px solid;
}

#order-submit-button {
    background-color: darkorange;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold; 
    height: 40px;
    width: 100px;
    border: 0px solid;
    cursor: pointer;
    transform: scale(1);
}

#order-submit-button:hover {
    background-color: orange;
    transition: background-color 1s;
}

#bottom-link {
    background-color: #ddd;
    margin: 0% 1% 0% 1%;
    padding: 1% 2% 1% 2%;
    border: 0px solid;
    border-radius: 5px; 
    display: flex;
    flex-direction: column; 
}

.bottom-link {
    padding: 0% 1% 0% 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottom-link a {
    text-decoration: none;
    color: black;
    margin: 0% 1% 0% 1%;
}

.bottom-line {
    padding: 0% 2% 0% 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer {
    margin: auto;
    text-align: center;
    font-family: 'Nova Flat', cursive;
}

footer p {
    font-size: 18px;
}

footer p a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
    header {width: 100%; align-items: center;}
    nav {display: flex; flex-direction: column;}
    .navbar {margin: 2% 2% 2% 2%;}
    #header-img {margin: auto; width: 200px; height: 30px;}
    .nav-link button {font-size: 12px; height: 30px; width: 100px;}
    .element-section-top { margin: 25% 2% 1% 2%; font-size: 14px;}
    input::placeholder {font-size: 12px;}
    .element-section-middle input {font-size: 12px; width: 70%;}
    #submit {font-size: 12px; height: 30px; width: 100px;}
    section {margin: 5% 0% 5% 0%;}
    .features {margin: 1% 0.5% 1% 0.5%;}
    .icon {width: 0%;}
    .icon i {display: none; width: 0%;}
    .description {width: 100%; padding: 1% 2% 1% 0.5%;}
    .description h3 {font-size: 14px; margin-bottom: 1px;}
    .description p {font-size: 12px; line-height: 0.4cm;}
    #video {width: 80%; padding: 0% 1% 0% 1%;}
    .level {font-size: 12px;}
    .headline-price {margin: 0% 0% 0% 0%;}
    .headline-description p {font-size: 12px;}
    #pricing {display: flex; flex-direction: column; align-items: center; padding: 0% 1% 0% 1%;}
    .tenor {width: 80%;}
    .bass {width: 80%;}
    .valve {width: 80%;}
    #order-submit-button {font-size: 12px; height: 30px; width: 80px;}
    .bottom-link a {font-size: 12px;}
    .bottom-line {font-size: 12px;}
    .footer {font-size: 12px;}
} 

@media only screen and (min-width: 481px) and (max-width: 768px) {
    header {width: 100%;}
    #header-img {width: 150px; height: 30px;}
    .nav-link button {font-size: 12px; height: 30px; width: 100px;}
    .element-section-top {font-size: 14px;}
    input::placeholder {font-size: 12px;}
    .element-section-middle input {font-size: 12px; width: 45%;}
    #submit {font-size: 12px; height: 30px; width: 100px;}
    section {margin: 5% 0% 5% 0%;}
    .features {margin: 1% 0.5% 1% 0.5%;}
    .description h3 {font-size: 14px; margin-bottom: 1px;}
    .description p {font-size: 12px; line-height: 0.4cm;}
    #video {width: 80%;}
    .level {font-size: 12px;}
    .headline-price {margin: 0% 0% 0% 0%;}
    .headline-description p {font-size: 12px;}
    #pricing {padding: 0% 1% 0% 1%;}
    #order-submit-button {font-size: 12px; height: 30px; width: 80px;}
    .bottom-link a {font-size: 12px;}
    .bottom-line {font-size: 12px;}
    .footer {font-size: 12px;}
}